/* Основной цвет при наведении на ссылку/кнопку #2196F3 */
/* Основной цвет текста навигации и заголовков #212121 */
/* Цвет на текста героя+нижний лого #FFFFFF */
/* Цвет обычного текста в секции #757575 */
/* Основной цвет заднего фона #FFFFFF */
/* Цвет заднего фона Hero#2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --fourth-background-color: #c4c4c4;
  --first-icon-color: #afb1b8;
  --second-icon-color: #212121;
  --third-icon-color: #ffffff;
  --fourth-icon-color: #757575;
}

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.title-hide {
  display: none;
}
.button {
  display: flex;

  padding: 0;

  border: none;
}

input {
  outline: none;
}

.button-icon,
.auth-list-icon {
  fill: var(--first-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover,
.auth-list-icon:hover,
.button-icon:focus,
.auth-list-icon:focus {
  fill: var(--accent-color);

  cursor: pointer;
}

/* Header */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.flex-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Logo */

.header {
  display: flex;
  height: 80px;

  border-bottom: 1px solid #ececec;
}
.header-list-logo-part,
.footer-logo-part {
  color: var(--accent-color);
}
.header-logo {
  margin-right: 90px;

  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:focus,
.header-logo:hover {
  color: var(--accent-color);
}

.footer-logo:focus,
.footer-logo:hover {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child),
.auth-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link.current {
  position: relative;
}

.nav-list-link.current::after {
  content: "";
  position: absolute;
  top: 115%;
  right: 0%;

  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link {
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:focus,
.nav-list-link:hover {
  color: var(--accent-color);
}

.current {
  font-weight: 500;
  color: var(--accent-color);
}

.auth-list {
  margin-left: auto;

  display: flex;
}

.auth-list-item {
  display: flex;
  align-items: center;
}

.mail {
  margin-right: 10px;

  width: 16px;
  height: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-list-link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-list-link:focus,
.auth-list-link:hover {
  color: var(--accent-color);
}

.auth-list-link:hover .auth-list-icon,
.auth-list-link:focus .auth-list-icon {
  fill: var(--accent-color);
}

/* Hero */

.hero {
  margin-right: auto;
  margin-left: auto;

  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--fourth-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/hero-background.jpg);
}

.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  padding: 10px 32px;

  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6;
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0%;

  background-color: var(--primary-white-color);
  border-radius: 50%;
  cursor: pointer;
  border-color: var(--first-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 100%;
  height: 100%;

  fill: #212121;
  transition: fill 10ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .icon-close,
.close:focus .icon-close {
  fill: var(--accent-color);
}

.close:hover,
.close:focus {
  border-color: var(--accent-color);
}

.js-speaker-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-field-title {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;

  color: #212121;
}

.form-field-text {
  padding: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;

  flex-direction: column;
}

.form-field:focus-within > .form-field-input,
.form-field:focus-within > .form-field-textarea {
  border-color: var(--accent-color);
}
.form-field:focus-within > svg {
  fill: var(--accent-color);
}

.form-field-input {
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field svg {
  position: absolute;

  top: 33px;
  left: 15px;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea {
  height: 120px;
  padding: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sign {
  display: flex;
  margin-bottom: 30px;

  align-items: center;
  justify-content: space-evenly;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-sign-icon {
  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid black;
  border-radius: 3px;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .form-sign-icon {
  background-image: url(../Images/checkbox.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-sign-text {
  line-height: 1.7;
  color: #757575;
}

.form-field-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;

  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

/* FOR OLD SCHOOL 
Было бы что-то такое, но потом увидел, что есть более ходовая тема и переделал))*/
/* .form-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;

  flex-direction: column;
}

.form-field svg {
  position: absolute;

  top: 29px;
  left: 15px;
  width: 18px;
  height: 18px;
}

.form-field-input:focus {
  border-color: var(--accent-color);
}

.form-field-input:focus + svg {
  fill: #18a0fb;
}

.form-field-title {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;

  color: #212121;
}

.form-field label {
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field input {
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field textarea {
  height: 120px;
  padding: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-field.comment {
  display: flex;
  margin-bottom: 20px;
}

.form-field-textarea:focus {
  border-color: var(--accent-color);
}

.sign {
  display: flex;
  margin-bottom: 30px;

  justify-content: space-evenly;
  align-items: center;
}

.sign label {
  line-height: 1.7;
}

.form-field-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10px 55px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Features */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list-item {
  margin-right: 30px;

  width: 270px;
}

.features-list-item > .icon {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: var(--third-background-color);
}

.features1,
.features2 {
  width: 65px;
  height: 70px;

  fill: var(--second-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.features3,
.features4 {
  width: 70px;
  height: 70px;

  fill: var(--second-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.features1:hover,
.features2:hover,
.features3:hover,
.features4:hover {
  fill: var(--accent-color);
}

.features-list-item:last-child {
  margin-right: 0;
}

.features-list-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-list-text {
  line-height: 1.7;

  color: var(--secondary-text-color);
}

/* What we do */
.wwd-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wwd-title {
  margin-bottom: 50px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.wwd-list {
  display: flex;
}
.wwd-list-item:not(:last-child) {
  margin-right: 30px;
}

.wwd-list-item {
  position: relative;
}

.text-s {
  position: absolute;

  /* Или через падинги left+right:auto */
  width: 100%;
  bottom: 0%;
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: center;

  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-text-color);

  background: rgba(47, 48, 58, 0.8);
}

/* Our Team */
.team {
  background-color: var(--third-background-color);
}

.our-team {
  display: flex;
}
.our-team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-box-list {
  display: flex;
  justify-content: center;
}

.team-box-list-item:not(:last-child) {
  margin-right: 5px;
}

.team-box-list-link {
  display: flex;

  padding: 12px;

  background-color: var(--third-icon-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.team-box-list-link > svg {
  width: 20px;
  height: 20px;

  fill: var(--first-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box-list-link:hover,
.team-box-list-link:focus {
  border-radius: 50%;

  background-color: var(--accent-color);
}

.team-box-list-link:hover svg,
.team-box-list-link:focus svg {
  fill: var(--third-icon-color);
}

.button.our-team {
  border-radius: 50%;
}

.button.our-team > .button-icon {
  border-radius: 50%;
}
.our-team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.our-team-text {
  margin-bottom: 16px;

  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
}

/* Our Clients */
.our-сlients {
  display: flex;
  justify-content: center;
}

.our-clients-item {
  display: flex;
  margin-right: 30px;
}

.our-clients-link {
  padding: 15px 30px;

  border: 1px solid var(--first-icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.our-clients-link > svg {
  width: 106px;
  height: 60px;

  fill: var(--first-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--accent-color);
}
.our-clients-link:hover svg,
.our-clients-link:focus svg {
  fill: var(--accent-color);
}
.our-clients-item:last-child {
  margin-right: 0;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}
.footer-c {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container {
  margin-right: 70px;
}

.address {
  margin-top: 20px;
}

.address-list-item {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  color: var(--white-text-color);
}
.address-list-item:last-child {
  margin-bottom: 0;
}

.icon-container {
  margin-right: 93px;
}

.icon-list.footer-i {
  justify-content: flex-start;
}

.icon-list-title {
  margin-bottom: 20px;

  font-size: 14px;
  color: var(--white-text-color);
}

.icon-list.footer-i {
  display: flex;
}

.footer-i-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-i-icon-list-link {
  display: flex;

  padding: 12px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-i-icon-list-link:hover,
.footer-i-icon-list-link:focus {
  background-color: var(--accent-color);
}

.footer-i-icon-list-link > svg {
  width: 20px;
  height: 20px;

  fill: var(--third-icon-color);
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-link:focus,
.address-list-link:hover {
  color: var(--accent-color);
}

.footer-list-part-logo.right {
  color: var(--white-text-color);
}
.footer-list-part-logo.right:focus,
.footer-list-part-logo.right:hover {
  color: var(--accent-color);
}

.mailing-container {
  display: flex;
}

.mailing {
  display: flex;

  flex-direction: column;
}

.mailing-title {
  margin-bottom: 20px;

  font-weight: bold;
  color: var(--white-text-color);
}

.mailing-list {
  display: flex;
  align-items: center;
}

.mailing-list-input {
  margin-right: 12px;

  width: 360px;
  padding: 15px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text-color);

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: var(--secondary-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-list-input:focus {
  border-color: var(--accent-color);
}

.mailing-list-item button {
  display: flex;

  padding: 10px 30px;
  align-items: center;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
}

.mailing-button-title {
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.mailing-list-item svg {
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: var(--third-icon-color);
}

/* PORTFOLIO */
/* Фильтр */
.filter-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-button.current {
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: transparent;
}
.filter-list-button.current:hover,
.filter-list-button.current:focus {
  color: var(--white-text-color);
}
.filter-list-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-text-color);

  background-color: var(--third-background-color);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.filter-list-button:hover,
.filter-list-button:focus {
  color: var(--white-text-color);

  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты */
.project-list {
  margin: -15px;

  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  margin: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-link {
  text-decoration: none;
}

.thumb {
  position: relative;

  overflow: hidden;
}

.thumb::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 100%;
  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;

  width: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.text-p {
  top: 50%;
  left: 50%;

  width: 322px;

  font-size: 18px;
  line-height: 1.6;
  color: var(--white-text-color);

  transform: translate(-50%, -50%) translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-link:hover .thumb:before,
.project-list-link:focus .thumb:before {
  transform: translateY(0%);

  opacity: 1;
}

.project-list-link:hover .text-p,
.project-list-link:focus .text-p {
  transform: translate(-50%, -50%) translateY(0%);

  opacity: 1;
}

.project-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-list-title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-list-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}
