// /* Footer */
// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   background-color: var(--secondary-background-color);
// }
// .footer-c {
//   display: flex;
//   align-items: baseline;
// }
// .footer-logo {
//   font-family: Raleway;
//   font-weight: bold;
//   font-size: 26px;
//   text-decoration: none;
//   color: var(--white-text-color);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .address-container {
//   margin-right: 70px;
// }

// .address {
//   margin-top: 20px;
// }

// .address-list-item {
//   margin-bottom: 9px;

//   font-style: normal;
//   line-height: 1.7;
//   color: var(--white-text-color);
// }
// .address-list-item:last-child {
//   margin-bottom: 0;
// }

// .icon-container {
//   margin-right: 93px;
// }

// .icon-list.footer-i {
//   justify-content: flex-start;
// }

// .icon-list-title {
//   margin-bottom: 20px;

//   font-size: 14px;
//   color: var(--white-text-color);
// }

// .icon-list.footer-i {
//   display: flex;
// }

// .footer-i-icon-list-item:not(:last-child) {
//   margin-right: 10px;
// }

// .footer-i-icon-list-link {
//   display: flex;

//   padding: 12px;

//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 50%;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .footer-i-icon-list-link:hover,
// .footer-i-icon-list-link:focus {
//   background-color: var(--accent-color);
// }

// .footer-i-icon-list-link > svg {
//   width: 20px;
//   height: 20px;

//   fill: var(--third-icon-color);
// }

// .address-list-link {
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   color: var(--footer-text-color);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .address-list-link:focus,
// .address-list-link:hover {
//   color: var(--accent-color);
// }

// .footer-list-part-logo.right {
//   color: var(--white-text-color);
// }
// .footer-list-part-logo.right:focus,
// .footer-list-part-logo.right:hover {
//   color: var(--accent-color);
// }

// .mailing-container {
//   display: flex;
// }

// .mailing {
//   display: flex;

//   flex-direction: column;
// }

// .mailing-title {
//   margin-bottom: 20px;

//   font-weight: bold;
//   color: var(--white-text-color);
// }

// .mailing-list {
//   display: flex;
//   align-items: center;
// }

// .mailing-list-input {
//   margin-right: 12px;

//   width: 360px;
//   padding: 15px;

//   font-size: 16px;
//   line-height: 1.25;
//   color: var(--white-text-color);

//   border-radius: 4px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   background: var(--secondary-background-color);
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .mailing-list-input:focus {
//   border-color: var(--accent-color);
// }

// .mailing-list-item button {
//   display: flex;

//   padding: 10px 30px;
//   align-items: center;

//   text-align: center;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 1.9;
//   letter-spacing: 0.06em;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   color: var(--white-text-color);
//   background: var(--accent-color);
//   box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
//   border-radius: 4px;
//   cursor: pointer;
// }

// .mailing-button-title {
//   font-weight: bold;
//   line-height: 1.9;
//   letter-spacing: 0.06em;
// }

// .mailing-list-item svg {
//   margin-left: 10px;

//   width: 24px;
//   height: 24px;

//   fill: var(--third-icon-color);
// }

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}
.container--footer {
  display: flex;
  align-items: baseline;
}
// Address
.address-container {
  margin-right: 70px;
}

.logo--footer {
  margin-right: 0px;

  color: #ffffff;
}

.address {
  margin-top: 20px;
}

.address-list__item {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  color: #ffffff;

  &:last-child {
    margin-bottom: 0;
  }
}

.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color $patternTime $patternCubicBuzier;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

// Icon-Container
.icon-container {
  margin-right: 93px;
}

.icon-title {
  margin-bottom: 20px;

  font-size: 14px;
  color: #ffffff;
}

.icon-list__item--footer:not(:last-child) {
  margin-right: 10px;
}

.icon-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

svg {
  .icon-list__link--footer > & {
    fill: #ffffff;
  }
}

// Mailing-Container

.mailing-container {
  display: flex;
}

.mailing-form {
  display: flex;

  flex-direction: column;
}

.mailing-title {
  margin-bottom: 20px;

  font-weight: bold;
  color: #ffffff;
}

.mailing-list {
  display: flex;
  align-items: center;
}

.mailing-list__input {
  margin-right: 12px;

  width: 360px;
  padding: 15px;

  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  transition: border-color $patternTime $patternCubicBuzier;
  &:focus {
    border-color: $accent-color;
  }
}

.mailing-list__button {
  display: flex;

  padding: 10px 30px;
  align-items: center;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: box-shadow $patternTime $patternCubicBuzier;

  color: #ffffff;
  background: $accent-color;
  box-shadow: $box-shadow-button;
  border-radius: 4px;
  cursor: pointer;
}

.mailing-list__title {
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

svg {
  .mailing-list__item & {
    margin-left: 10px;

    width: 24px;
    height: 24px;

    fill: #ffffff;
  }
}
