// .project-list {
//   margin: -15px;

//   display: flex;
//   flex-wrap: wrap;
// }

// .project-list-item {
//   margin: 15px;

//   background: #ffffff;
//   border: 1px solid #eeeeee;
//   box-sizing: border-box;
//   transition: box-shadow $patternTime $patternCubicBuzier;
// }

// .project-list-item:hover,
// .project-list-item:focus {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }

// .project-list-link {
//   text-decoration: none;
// }

// .thumb {
//   position: relative;

//   overflow: hidden;
// }

// .thumb::before {
//   content: "";
//   position: absolute;
//   top: 0%;
//   left: 0%;

//   width: 100%;
//   height: 100%;
//   transform: translateY(100%);

//   background-color: rgba(33, 150, 243, 0.9);

//   opacity: 0;
//   transition: opacity $patternTime $patternCubicBuzier,
//     transform $patternTime $patternCubicBuzier;
// }

// .overlay {
//   position: absolute;

//   width: 100%;

//   transition: opacity $patternTime $patternCubicBuzier;
//   opacity: 0;
// }

// .text-p {
//   top: 50%;
//   left: 50%;

//   width: 322px;

//   font-size: 18px;
//   line-height: 1.6;
//   color: var(--white-text-color);

//   transform: translate(-50%, -50%) translateY(100%);
//   transition: opacity $patternTime $patternCubicBuzier,
//     transform $patternTime $patternCubicBuzier;
// }

// .project-list-link:hover .thumb:before,
// .project-list-link:focus .thumb:before {
//   transform: translateY(0%);

//   opacity: 1;
// }

// .project-list-link:hover .text-p,
// .project-list-link:focus .text-p {
//   transform: translate(-50%, -50%) translateY(0%);

//   opacity: 1;
// }

// .project-box {
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-left: 24px;
//   padding-right: 24px;
// }

// .project-list-title {
//   margin-bottom: 4px;

//   font-weight: bold;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--primary-text-color);
// }
// .project-list-text {
//   font-size: 16px;
//   line-height: 1.8;
//   color: var(--secondary-text-color);
// }

/* Проекты */

.project-list {
  margin: -15px;

  display: flex;
  flex-wrap: wrap;
}

.project-list__item {
  margin: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow $patternTime $patternCubicBuzier;

  &:hover,
  &:focus {
    box-shadow: $box-shadow;
  }
}

.project-list__link {
  text-decoration: none;
}

.project-thumb {
  position: relative;

  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    transform: translateY(100%);

    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transition: opacity $patternTime $patternCubicBuzier,
      transform $patternTime $patternCubicBuzier;
  }
}

.project-thumb:before {
  .project-list__link:hover & {
    transform: translateY(0%);

    opacity: 1;
  }
}

.overlay {
  position: absolute;

  width: 100%;

  transition: opacity $patternTime $patternCubicBuzier;
  opacity: 0;
}

.overlay--text {
  top: 50%;
  left: 50%;

  width: 322px;

  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;

  transform: translate(-50%, -50%) translateY(100%);
  transition: opacity $patternTime $patternCubicBuzier,
    transform $patternTime $patternCubicBuzier;

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translate(-50%, -50%) translateY(0%);

    opacity: 1;
  }
}

.project-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-box__title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}
.project-box__text {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
